body {
    background-color: #c8e9df;
    margin: 0px;
    font-family: sans-serif;
    padding-top: 10%;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    margin: 0px;
    display: flex;
    font-weight: bold;
    background-color: #1f1f1f;
    align-items: center;
    padding: 0 5%;
}

nav h1 {
    margin-left: 15%;   /*adds space before nav*/
}

nav ul {
    list-style-type: none;      /*removes bullet point style*/
    padding-left: 10%;          /*adds space between h1 and nav*/
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 20px 30px;         /*padding: vert, horiz*/
    text-decoration: none;
    color: #cccccc;
}

nav li a:hover {
    background-color: #000000;
}

main {
    margin: 0% 2.5%;  /* top then bottom */
}

dt {
    font-weight: bold;
}

/* footer {
    
} */

object {
    display: block;
    margin: auto;
    margin-top: 2.5%;
    width: 50%;
    height: 253vh;
    outline: 5px #000000;
}

.sectioning {
    display: flex;
    flex-direction: column;
}

.sectioning section {
    background-color: rgb(223, 237, 237);
    border: 3px solid #000; 
    box-sizing: border-box;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.sectioning section h3 {
    padding: 10px;
    padding-left: 2.5%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 110%;
    background-color: #AEC3E3;
}

.sectioning section div {
    display: inline-flex;
}

.sectioning section img {
    height: 20vh;
    object-fit: contain;
    vertical-align: top;
}

.sectioning section p {
    padding-left: 2%;
    font-size: larger;
}


.top {
    margin-top: 0px;
    text-decoration: none;
    color: #cccccc;
    font-size: 20px;
    font-weight: 500;
}

.horiz_center {
    margin: 0;
    text-align: center;
}

.colsDisplay { 
    display: flex;   
    gap: 10%;    
    margin: 0% 15%;
}

.short-col {
    width: 50%;
    text-align: center;
    /* background-color: #9eb8b0; */    /* For Testing  */
}

.large-col {
    width: 50%;
    /* background-color: #ebf9f5; */    /* For Testing  */
}

.large-col img {
    max-width: 100%;
    max-height: 100%; 
    height: auto;
    object-fit: contain; /* Scale image without distortion */
    border: 3px solid #000; 
    border-radius: 4px;
    box-sizing: border-box; /* sclaes border too */
}

.longHeight {
    height: 300vh;
}

.rounded-block {
    padding: 10px 15px;
    border-radius: 10px; /* Adjust for roundness */
    background-color: #1f1f1f;
}

#pdflink {
    text-decoration: none;
    color: #e8e8e8;
    
}

#pdflink:hover {
    color: #a1e5d1;
}


.desktop {
  display: inline;
}

.mobile {
  display: none;
}

.mobileNav {
    flex-direction: column;
    width: 100%;
}

/* Phones */
@media (max-width: 600px) {
    
    main {
        margin-top: 70px;
    }
    
    nav {
        flex-direction: column;
        margin: 0;
        padding: 0 0;
        padding-bottom: 40px;
    }

    nav h1 {
        margin: 0;
        padding: 0 0;
        margin-top: 20px;
    }

    nav ul {
        margin: 0;
        padding: 0 0;
        margin-top: 20px;
    }

    details {
        display: flex;
        flex-direction: column; 
    }

    details[open] summary h1 {
        margin-left: 26.5%;
    }

    details ul {
        background-color: gray;
    }

    nav ul li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 100%;
        border-bottom: 1px solid;
    }

    summary {
        list-style: none;
        display: block;
        font-weight: normal;
        padding: 0.5em;
        height: 2em;         /* lock height */
        line-height: 2em;    /* keep vertical spacing */
        margin: 0;
        cursor: pointer;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .sectioning {
        padding-bottom: 25vh;
    }

    .sectioning section p {
        padding-left: 2%;
        font-size: larger;
        float: none;
        display: block;
    }

    .colsDisplay { 
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .short-col, .large-col{
        width: 100%;
    }

    object {
        height: 71vh;
    }

    .mobile {
        display: inline;
    }

    .desktop {
        display: none;
    }
}


/* Tablets */
@media (max-width: 1024px) { 
    
}