body {
    background-color: #c8e9df;
    margin: 0px;
    font-family: sans-serif;
}


nav {
    margin: 0px;
    display: flex;
    font-weight: bold;
    background-color: #1f1f1f;
    align-items: center;
    padding: 0 5%;
}

nav h1 {
    margin-left: 15%;   /*adds space before nav*/
}

nav ul {
    list-style-type: none;      /*removes bullet point style*/
    padding-left: 10%;          /*adds space between h1 and nav*/
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 20px 30px;         /*padding: vert, horiz*/
    text-decoration: none;
    color: #cccccc;
}

nav li a:hover {
    background-color: #000000;
}

main {
    margin-left: 5%;
    margin-top: 2.5%;
}

dt {
    font-weight: bold;
}

/* footer {
    
} */

object {
    display: block;
    margin: auto;
    margin-top: 2.5%;
    width: 50%;
    height: 253vh;
    outline: 5px #000000;
}

.top {
    margin-top: 0px;
    text-decoration: none;
    color: #cccccc;
    font-size: 20px;
    font-weight: 500;
}

.horiz_center {
    margin: 0;
    text-align: center;
}

.center { /*not working as i had hoped*/
    align-items: center;
}

.longHeight {
    height: 300vh;
}

.rounded-block {
    padding: 10px 15px;
    border-radius: 10px; /* Adjust for roundness */
    background-color: #1f1f1f;
}

.column {
    float: left;
    width: 50%
}

.short-col {
    float: left;
    width: 40%;
}

.large-col {
    float: left;
    width: 60%;
    margin: 20px
}

.large-col img {
    max-width: 100%; /* Prevent the image from exceeding the container width */
    max-height: 100%; /* Prevent the image from exceeding the container height */
    height: 50vh; /* Limit container height to viewport height */
    object-fit: contain; /* Scale image without distortion */
}


#pdflink {
    text-decoration: none;
    color: #e8e8e8;
    
}

#pdflink:hover {
    color: #a1e5d1;
}

